@import "tailwindcss";

.filterBtn {
  border: 1px solid rgb(182, 182, 182);
  padding: 7px 12px;
  border-radius: 30px;
  font-weight: 500;
  color: rgb(43, 41, 41);
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.active {
  background-color: hsla(0, 7%, 89%, 0.944);
  border: 1px solid black;
}

.active span {
  display: block;
}

.active-search {
  background-color: rgb(61, 59, 59);
  border: none;
  color: white;
}

.active-search span {
  display: block;
}

.loader {
  position: relative;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 100%;
  position: absolute;
  inset: 0;
}

.loader:after {
  box-shadow: 1px 2px 0px rgb(232, 215, 215) inset;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.shimmer-box {
  position: relative;
  background-color: #e2e8f0;
  /* Tailwind gray-200 */
  overflow: hidden;
}

.shimmer {
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0) 80%);
  animation: shimmer 1s infinite;
  z-index: 1;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }

  100% {
    left: 150%;
  }
}